name: Build and Release

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '*.md'

jobs:
  build-linux-and-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev build-essential curl wget file libxdo-dev libssl-dev libayatana-appindicator3-dev librsvg2-dev

      - name: Setup Java 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          
      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
        
      - name: Setup Android NDK
        run: |
          sdkmanager --install "ndk;27.1.12297006"
          echo "NDK_HOME=$ANDROID_SDK_ROOT/ndk/27.1.12297006" >> $GITHUB_ENV
      
      - name: Setup rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Add Android targets
        run: |
          rustup target add aarch64-linux-android
          rustup target add armv7-linux-androideabi
          rustup target add x86_64-linux-android
          rustup target add i686-linux-android
          
      - name: Cache rust dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-
            
      - name: Cache Tauri CLI
        id: cache-tauri
        uses: actions/cache@v3
        with:
          path: ~/.cargo/bin/cargo-tauri
          key: ${{ runner.os }}-cargo-tauri-${{ hashFiles('**/Cargo.lock') }}
        
      - name: Setup Tauri CLI
        run: |
          if ! command -v cargo-tauri &> /dev/null || [[ "$(cargo tauri --version)" != *"2.0.0-rc"* ]]; then
            cargo install tauri-cli --version '^2.0.0-rc' --locked --force
          else
            echo "Tauri CLI 2.0.0-rc is already installed"
          fi
        
      - name: Build for Linux
        run: cargo tauri build
          
      - name: Build for Android
        run: cargo tauri android build
          
      - name: Upload Linux artifacts
        uses: actions/upload-artifact@v3
        with:
          name: linux-builds
          path: |
            target/release/bundle/deb/*.deb
            target/release/bundle/rpm/*.rpm
            target/release/bundle/appimage/*.AppImage
          
      - name: Upload Android artifact
        uses: actions/upload-artifact@v3
        with:
          name: android-build
          path: |
            gen/android/app/build/outputs/bundle/universalRelease/app-universal-release.aab

  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          
      - name: Cache rust dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-
            
      - name: Cache Tauri CLI
        id: cache-tauri
        uses: actions/cache@v3
        with:
          path: ~/.cargo/bin/cargo-tauri.exe
          key: ${{ runner.os }}-cargo-tauri-${{ hashFiles('**/Cargo.lock') }}
          
      - name: Setup Tauri CLI
        run: |
          if (!(Get-Command cargo-tauri -ErrorAction SilentlyContinue) -or !((cargo tauri --version) -like "*2.0.0-rc*")) {
            cargo install tauri-cli --version '^2.0.0-rc' --locked --force
          } else {
            Write-Output "Tauri CLI 2.0.0-rc is already installed"
          }
          
      - name: Build for Windows
        run: cargo tauri build
          
      - name: Upload Windows artifacts
        uses: actions/upload-artifact@v3
        with:
          name: windows-builds
          path: |
            target/release/bundle/msi/*.msi
            target/release/bundle/nsis/*.exe

  build-apple:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      - name: Setup rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Add iOS targets
        run: |
          rustup target add aarch64-apple-darwin
          rustup target add x86_64-apple-darwin
          rustup target add aarch64-apple-ios
          rustup target add x86_64-apple-ios
          rustup target add aarch64-apple-ios-sim

      - name: Cache rust dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Cache Tauri CLI
        id: cache-tauri
        uses: actions/cache@v3
        with:
          path: ~/.cargo/bin/cargo-tauri
          key: ${{ runner.os }}-cargo-tauri-${{ hashFiles('**/Cargo.lock') }}

      - name: Setup Tauri CLI
        run: |
          if ! command -v cargo-tauri &> /dev/null || [[ "$(cargo tauri --version)" != *"2.0.0-rc"* ]]; then
            cargo install tauri-cli --version '^2.0.0-rc' --locked --force
          else
            echo "Tauri CLI 2.0.0-rc is already installed"
          fi

      - name: Build for macOS (x86_64 and ARM)
        run: cargo tauri build --target universal-apple-darwin

#     - name: Build for iOS
#       run: cargo tauri ios build
#
      - name: Upload macOS artifacts
        uses: actions/upload-artifact@v3
        with:
          name: macos-builds
          path: |
            target/universal-apple-darwin/release/bundle/dmg/*.dmg
            target/universal-apple-darwin/release/bundle/macos/*.app

#     - name: Upload iOS artifact
#       uses: actions/upload-artifact@v3
#       with:
#         name: ios-build
#         path: target/iphoneos/release/bundle/ios/*.ipa

  release:
    needs: [build-linux-and-android, build-windows, build-apple]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Download all artifacts
        uses: actions/download-artifact@v3
        
      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            linux-builds/deb/*.deb
            linux-builds/rpm/*.rpm
            linux-builds/appimage/*.AppImage
            android-build/*.aab
            windows-builds/msi/*.msi
            windows-builds/nsis/*.exe
            macos-builds/dmg/*.dmg
            macos-builds/macos/*.app
            ios-build/*.ipa
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
